<div class="container-fluid mt-3" style="background-color:antiquewhite">
  <h2 style="text-align: center;">Product Information</h2>
  <div class="row">
    <form>
      <div class="row pt-3">
        <div class="col-md-2 mb-3 offset-md-1">
          <input type="text" #productId class="form-control" id="productId" placeholder="Enter Product ID">
        </div>
        <div class="col-md-2 mb-3">
          <input type="text" #productName class="form-control" id="productName" placeholder="Enter Product Name">
        </div>
        <div class="col-md-2 mb-3">
          <input type="text" #productDescription class="form-control" id="productDescription"
            placeholder="Enter Product Model">
        </div>
        <div class="col-md-2 mb-3">
          <input type="text" #productCost class="form-control" id="productCost" placeholder="Enter Product Price">
        </div>
        <div class="col-md-2 mb-3">
          <button type="button" class="btn btn-secondary"
            (click)="filterAll(productId.value,productName.value,productDescription.value,productCost.value)">Filter</button>&nbsp;
          <button type="button" class="btn btn-secondary" (click)="getAllProductsFromService()">GetData</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <table class="table table-hover table-bordered">
        <thead class="table-primary">
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Product Description</th>
          <th>Cost</th>
          <th>Action</th>
        </thead>
        <tbody *ngFor="let products of arrProductList">
          <tr>
            <td class="table-dark">{{products.productId}}</td>
            <td class="table-dark">{{products.productName}}</td>
            <td class="table-dark">{{products.productDescription}}</td>
            <td class="table-dark">{{products.cost}}</td>
            <td>
              <button type="button" class="btn btn-danger">Edit</button>&nbsp;
              <button type="button" class="btn btn-warning">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>